*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card{
    border: 1px solid white;
    width: 300px;
    text-align: center;
        border-radius: 5px;
    background-color: #333;
    padding: 20px;
    margin: 20px;
}

.parent{

    display: flex;
    flex-wrap: wrap;
    color: white;

}   

body{
    background-color: black;
}

.card button{
    padding: 10px 20px;
    background-color: balck;
    border: white;
    border-radius: 5px;
}

.card img{
    height: 200px;
    border-radius: 100%;
    object-fit: cover;

}