*{
  margin: 0px;
  padding: 0px;
}

body{
  height: 100%;
  width: 100%;
}

.card{
  background: pink;
  border-radius: 10px;
  
  padding: 20px;
  margin: 20px;
}

.nav{
  background-color: rgba(255, 118, 134, 0.558);
  height: 50px;
  border-radius: 5px 5px 5px 5px;
  margin: 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home{
  background-color: rgb(255, 118, 134);
  padding: 2px 4px;
}