*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui;
}

.parent{
   min-height: 100vh; 
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    background-color: #fff;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 388px;
    align-content: space-between;
}

.card .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 100%;
}

.card .top button{
    border: none;
    padding: 2px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #0000003b;
}
.card .top img{
    height: 39px;
        border: 1px solid black;
    border-radius: 100%;
}

.card .top button span{
    margin-right: 5px;
}

.card .center{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: 100%;
}

.card .center h3{
    display: inline-block;
}

.time{
    font-size: 12px;
    margin-left: 2px;
}
.card .bottom{
        margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    border-top: 3px solid #b1b1b185;
    padding-top: 20px;
    margin-bottom: 20px;
}

.card .bottom h3{
    display: inline-block;
}

.job_description{
    display: block;
    font-size: 23px;
    font-weight: bold;
    margin-top: 3px;
}
.center div{
    display: flex;
    gap: 5px;
    align-items: center;
}
.center div h4{
    display: inline-block;
    padding: 8px 6px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.center div{
    margin-top: 20px;
}

.bottom button{
        padding: 5px 9px;
    display: inline-block;
    border: none;
    border-radius: 6px;
    
}

.bottom{
    width: 100%;
}
